.about-section {
  width: 100%;
  margin: 10rem 0;
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  border-top: 0.15rem solid var(--bar-color);
  border-left: 0.15rem solid var(--bar-color);
  border-top-left-radius: 2rem;
}

.me {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.me-buttons {
  display: flex;
  gap: 1rem;
}

.me-buttons a {
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color: var(--font-color);
  box-shadow: 0 0 0.5rem var(--box-shadow-color),
    0 0 1rem var(--box-shadow-color), 0 0 2rem var(--box-shadow-color);
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-out;
}

.me-buttons a:hover {
  box-shadow: 0 0 1rem var(--red-accent-low-opacity);
}

.getInTouchButton {
  background-color: var(--button-color);
  border-bottom: 1px solid transparent;
}
.resumeButton {
  background-color: var(--glass-effect-color);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--bar-color);
}

.resumeButton:hover {
  background-color: var(--button-color);
}

.me img {
  width: 20rem;
  /* background-color: var(--image-bg-color); */
  border-top-left-radius: 1.2rem;
  border-bottom: 1px solid var(--bar-color);
}

.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about {
  padding: 1rem 0 0.5rem 0;
}

.skill {
  border-radius: 1rem;
  border: 0.1rem solid var(--bar-color);
  padding: 2rem 0;
}

.skill .lang {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skill .lang .skills {
  padding: 0.5rem;
  background-color: var(--glass-effect-color);
  border-bottom: 1px solid var(--bar-color);
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--box-shadow-color);
}

@media screen and (width < 850px) {
  .about-container {
    flex-direction: column;
  }
}

@media screen and (width < 550px) {
}
