.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 15rem 0;
  padding: 5rem 0;

}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about-container h2 {
  text-align: center;
  font-size: calc(var(--h2));
  margin-bottom: 10rem;
}

.about-container .about-content {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 0 5rem;

}

.about-container .about-content .skill {
  border-radius: 1rem;
  background-color: var(--bg-color);
  padding: 2rem 5rem 4rem 5rem;
}

.about-container .about-content .skill h3 {
  margin-bottom: 4rem;
  text-align: center;
  font-size: calc(var(--h3));

}

.about-container .about-content .skill .lang {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-container .about-content .skill img {
  width: 30px;
}

.about-container .about-content .experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--bg-color);
  padding: 2rem;
}

.about-container .about-content .experience .experience-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-container .about-content .experience .experience-info p {
  border-bottom: 2px solid var(--bar-color);
  font-size: calc(var(--p));
  padding: 0.5rem 0;

}

.about-container .about-content .experience .experience-info p:last-child {
  border-right: none;
}


.about-container .about-content .experience h3 {
  margin-bottom: 4rem;
  text-align: center;
  font-size: calc(var(--h3));
}


@media screen and (width < 550px) {
  .about-section {
    padding: 1rem 0;
    margin: 5rem 0 5rem 0;
  }

  .about-container h2 {
    margin-bottom: 2rem;
    font-size: calc(var(--h2));
  }

  .about-container .about-content {
    gap: 2rem;
    padding: 0 1rem;
    flex-direction: column;

  }

  .about-container .about-content .skill {

    padding: 2rem 5rem 5rem 5rem;
  }
}