.about-section {
  width: 100%;
  margin: 10rem 0;
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  border-top: 0.15rem solid var(--bar-color);
  border-left: 0.15rem solid var(--bar-color);
  border-top-left-radius: 2rem;
}

.me {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.me-buttons {
  display: flex;
  gap: 1rem;
}

.me-buttons a {
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color: var(--font-color);
  box-shadow: 0 0 20px var(--box-shadow-color), 0 0 10px var(--box-shadow-color),
    0 0 30px var(--box-shadow-color);
  transition: color 0.3s ease-out, background-color 0.2s ease-out;
}

.me-buttons a:nth-child(1) {
  background-color: var(--transparent-button-color);
  backdrop-filter: blur(5px);
  border: 0.5px solid var(--thin-border-color);
}
.me-buttons a:nth-child(2) {
  background-color: var(--button-color);
}

.me-buttons a:hover {
  background-color: var(--hovered-button-color);
  color: var(--hovered-font-color);
}

.me-buttons a:active {
  background-color: var(--active-button-color);
  color: var(--active-font-color);
}

.me img {
  width: 20rem;
  background-color: #fff;
  border-top-left-radius: 1.2rem;
}

.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about {
  border-radius: 1rem;
  padding: 0 2.5rem 0 0;
}

.skill {
  border-radius: 1rem;
  border: 0.1rem solid var(--bar-color);
  padding: 2rem 0;
}

.skill .lang {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skill img {
  width: 2rem;
}

@media screen and (width < 850px) {
  .about-container {
    flex-direction: column;
  }
}

@media screen and (width < 550px) {
}
