.about-section{
  width:100%;
  height:100dvh;
  display:flex;
  justify-content: center;
  align-items: center;

}

.about-container{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.about-container h2{
  text-align: center;
  font-size: 2rem;
  margin-bottom:5rem;
}

.about-container .about-content{
 display:flex;
 align-items: center;
 gap:5rem;
 padding:0 5rem;

}

.about-container .about-content .skill{
  border-radius:1rem;
  background-color:var(--bg-color);
  padding:5rem ;
}

.about-container .about-content .skill h3{
  margin-bottom:2rem;
  text-align: center;
  font-size: 1.25rem;
 
}

.about-container .about-content .skill .lang{
  display:flex;
  align-items: center;
  gap:1rem;
}

.about-container .about-content .skill img{
  width:30px;
}

.about-container .about-content .experience{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  border-radius:1rem;
  background-color: var(--bg-color);
  padding:4rem 2rem;
}
.about-container .about-content .experience .experience-info{
  display:flex;
  flex-direction: column;
  gap:1rem;
}
.about-container .about-content .experience .experience-info p{
  border-bottom:2px solid var(--bar-color);
  padding:0.5rem 0;

}

.about-container .about-content .experience .experience-info p:last-child{
  border-right:none;
}


.about-container .about-content .experience h3{
  margin-bottom:2rem;
  text-align: center;
  font-size: 1.25rem;
}