.contact-section {
  width: 100%;
  margin-bottom: 5rem;
}

.contact-section .contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.contact-container .leave-email {
  width: 100%;
}
.contact-container .leave-email input {
  width: 100%;
  font-size: 1rem;
  color: var(--font-color);
  background-color: transparent;
  border: 0.1rem solid var(--bar-color);
  border-radius: 0.5rem;
  min-height: 2.5rem;
  padding: 0 0.25rem;
  margin-top: 1rem;
  transition: border-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.contact-container .leave-email input:focus-within {
  box-shadow: 0 0 1.5rem var(--red-accent-low-opacity);
  border-color: var(--red-accent);
}

.contact-container .leave-email label {
  font-size: clamp(1.2rem, 1.2vw, 2rem);
}

.contact-container .leave-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: relative;
}

.contact-container .leave-message label {
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 1.2vw, 2rem);
  margin-right: auto;
}

.contact-container .leave-message textarea {
  color: var(--font-color);
  width: 100%;
  min-height: 150px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--bar-color);
  padding: 1rem;
  margin-bottom: 1rem;
  resize: vertical;
  transition: border-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.contact-container .leave-message textarea:focus {
  color: var(--font-color);
  background-color: transparent;
  box-shadow: 0 0 1.5rem var(--red-accent-low-opacity);
  border-color: var(--red-accent);
}

.contact-container .leave-message button {
  font-size: calc(var(--font-size-4));
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--font-color);
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  transition: color 0.3s ease-out, background-color 0.2s ease-out;
}
@media screen and (width < 900px) {
}

@media screen and (width < 550px) {
}
