.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15rem 0;

}

.contact-section .contact-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;

}

.contact-section .contact-container .contact-info p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.contact-section .contact-container .contact-info {
  width: 400px;
  height: 250px;
  background-color: var(--dark-bg);
  perspective: 1000px;
  border-radius: 1rem;
}

.contact-section .contact-container .contact-info .contact-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s ease-in;
  transform-style: preserve-3d;
  border-radius: 1rem;
}

.contact-section .contact-container .contact-info:hover .contact-card {
  transform: rotateY(-180deg);
}

.contact-section .contact-container .contact-info .contact-card .card-front,
.contact-section .contact-container .contact-info .contact-card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.contact-section .contact-container .contact-info .contact-card .card-front {
  background-color: var(--container-color);
}

.contact-section .contact-container .contact-info .contact-card .card-back{
  transform: rotateY(-180deg);
  background-color: var(--card-bg-color);
  align-items:start;
  padding:0 0 0 2rem;

}

.contact-section .contact-container .contact-info .contact-card .card-back div{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:1rem;
  gap:0.5rem;

}

  .contact-section .contact-container .contact-info .contact-card .card-back .card-back-title{
  margin-bottom:2rem;
  font-size: 1.5rem;
  
  }

.contact-section .contact-container .contact-info .contact-card .card-back img{
  width:1.5rem;
}  
  .contact-section .contact-container .contact-info .contact-card .card-back a{
    color:var(--font-color);
    font-size: 1.2rem;
}

.contact-container .leave-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: relative;
}

.contact-container .leave-message label {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  margin-right:auto;
  
}

.contact-container .leave-message textarea {
  color: var(--font-color);
  min-height: 150px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--bar-color);
  padding:1rem;
  margin-bottom:1rem;
  resize: vertical;
}

.contact-container .leave-message textarea:focus {
  color: var(--font-color);
  font-size: 1rem;
  background-color: transparent;
  box-shadow: 0 0 20px var(--box-shadow-color);
}

.contact-container .leave-message input {
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.contact-container .leave-message input:hover {
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--font-color);
}


@media screen and (width <=500px) {
.contact-section .contact-container .contact-info:hover .contact-card {
  transform: none;
}



  .contact-section .contact-container .contact-info .contact-card .card-back {
    backface-visibility: visible;

  transform:none;

  }

  .contact-section .contact-container .contact-info .contact-card .card-back .card-back-title{
  display:block;
}

  .contact-section .contact-container .contact-info .contact-card .card-front {
    display:none;
  }

}


@media screen and (width < 550px){
  .contact-section{
    padding:1rem 0;
  }

  .contact-section .contact-container {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;

}

.contact-container .leave-message{
  padding-bottom:1rem;
}


}