footer{
  width:100%;
  height:50dvh;
  position:relative;
}

footer div{
 width:100%;
 height:10rem;
 background: var(--footer-bg-color);
 position:absolute;
 bottom:0;
 display:flex;
 justify-content: center;
 align-items: flex-end;
 border:1px solid var(--bar-color);
}

footer div p{
margin-bottom:1rem;
}
