footer {
  width: 100%;
  /* padding: 2rem 0; */
  height: clamp(3rem, 5vw, 8rem);
  position: relative;
  color:var(--footer-font-color);
}

footer div {
  width: 100%;
  height: 100%;
  /* background: var(--footer-bg-color); */
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  /* border: 1px solid var(--bar-color); */
}

footer div p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

@media screen and (width < 550px) {
}
