:root{
  --dark-bg:#121212;
  --bg:#1E1E1E;
  --font:#FFFFFF;
  --red-font:crimson;
  --bar-color:#333333;
  --txt-shdw:#121212;
  --bx-shdw:#1C1C1C;

}

*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  text-decoration: none;
  border:none;

}
body{
  font-family:Arial,sans-serif;
  background-color:var(--dark-bg);
  color:var(--font);
  text-shadow:1px 1px 0px var(--txt-shdw);

} 

img{
  width:100%;
}





