:root {
  --bg-color: #111111;
  --bg-accent-up: #ffffff15;
  --bg-accent-down: #ffffff15;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --button-color: #333333;
  --font-color: #f2f2f2;
  --bar-color: rgba(255, 255, 255, 0.15);
  --red-accent: crimson;
  --red-accent-low-opacity: rgba(220, 20, 60, 0.15);
  --box-shadow-color: rgba(150, 150, 150, 0.01);

  --font-size-1: 3rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1rem;
  --font-size-5: 0.8rem;

  --h1: 5rem;
  --h2: 2.5rem;
  --h3: 1.5rem;
  --p: 1rem;
}

.light {
  --bg-color: #eeeeee;
  --bg-accent-up: #ff08d620;
  --bg-accent-down: #0055ff25;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --button-color: #005238;
  --font-color: #0e0e0e;
  --bar-color: rgba(0, 119, 255, 0.25);
  --red-accent: crimson;
  --red-accent-low-opacity: rgba(220, 20, 60, 0.15);
  --box-shadow-color: rgba(0, 0, 0, 0.04);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: calc(var(--p));
}

main {
  padding: 0 25vw;
}
