:root {
  --bg-color: #111111;
  --bg-accent-up: #ffffff15;
  --bg-accent-down: #ffffff15;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --button-color: #333333;
  --font-color: #f2f2f2;
  --bar-color: rgba(255, 255, 255, 0.15);
  /* --bar-color:#333333; */
  --red-accent: crimson;
  --box-shadow-color: rgba(150, 150, 150, 0.01);

  --font-size-1: 3rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1rem;
  --font-size-5: 0.8rem;

  --h1: 5rem;
  --h2: 2.5rem;
  --h3: 1.5rem;
  --p: 1rem;
}

.light {
  --bg-color: #eeeeee;
  --bg-accent-up: #ff08d620;
  --bg-accent-down: #0055ff25;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --button-color: #005238;
  --font-color: #0e0e0e;
  --bar-color: rgba(0, 119, 255, 0.25);
  /* --bar-color:#333333; */
  --red-accent: crimson;
  --box-shadow-color: rgba(0, 0, 0, 0.04);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  scroll-behavior: smooth;
}
body, html {
  overflow-x: clip; /* This prevents horizontal scroll without breaking sticky */
}

body {
  font-family: Arial;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: calc(var(--p));
  padding: 0 30vw;
}

@media screen and (width < 1200px) {
  body {
    padding: 0 22vw;
  }
}

@media screen and (width < 1100px) {
  body {
    padding: 0 20vw;
  }
}
@media screen and (width < 1000px) {
  body {
    padding: 0 18vw;
  }
}
@media screen and (width < 900px) {
  body {
    padding: 0 16vw;
  }
}
@media screen and (width < 800px) {
  body {
    padding: 0 14vw;
  }
}
@media screen and (width < 700px) {
  body {
    padding: 0 12vw;
  }
}
@media (width < 600px) {
  body {
    padding: 0 10vw;
  }
}
@media (width < 500px) {
  body {
    padding: 0 7vw;
  }
}
@media (width < 400px) {
  body {
    padding: 0 4vw;
  }
}
