:root{
  /* --dark-bg:#2C3333;
  --bg:#0E8388;
  --font:#CBE4DE; */

  /* --dark-bg: #222831;
  --bg:#948979;
  --font:#DFD0B8;
  --txt-shdw:#ffffff;
  --bx-shdw:#ffffff; */
  --bg:#121212;
  --content-bg:#1E1E1E;
  --font-color:#FFFFFF;
  --bar-color:#333333;
  --txt-shdw:#121212;
  --bx-shdw:#1C1C1C;
}
body{
      margin:0px;
      margin-block:0px;
      padding:0px;
      font-family:Arial;
      background-color:var(--dark-bg);
      color:var(--font);
      text-shadow:1px 1px 0px var(--txt-shdw);

    }  

    .divider-section{
      width:100%;
      height:200px;
      position:relative;
      top:900px;
      display:flex;
      justify-content: center;

    }

    .divider{
      width:80%;
      height:2px;
      background-color: var(--font);

    }

