header{
  width:100dvw;
  height:6dvh;
  /* background-color: #fff; */
}

header nav{
  width:100dvw;

}

header nav ul{
  width:100%;
  display:flex;
  position:relative;
  list-style-type:none;
  justify-content: end;

}

header nav ul li{
  padding:20px;

}

header nav ul li:first-child{
  position:fixed;
  top:0px;
  left:0px;
  font-size:1.5rem;
}

header nav ul li a{
  color:var(--font);
  font-size:1em;
  padding:10px 20px;
}




 