header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
}

nav {
  width: 100%;
  max-width: 50vw;
  margin: auto;
  padding: 1rem;
  background-color: var(--glass-effect-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--bar-color);
  border-radius: 0 0 1rem 1rem;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

ul .kr {
  margin-right: auto;
}

ul .kr a {
  color: var(--red-accent);
  font-size: clamp(1rem, 1.5vw, 2rem);
}

nav ul .li-item a {
  color: var(--font-color);
  font-size: clamp(0.8rem, 0.85vw, 1rem);
  position: relative;
}

nav ul .li-item a::before {
  content: "";
  background-color: var(--red-accent);
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease-out;
}

nav ul .li-item a:hover::before {
  width: 100%;
}

@media screen and (width < 450px) {
  ul {
    gap: 1rem;
  }
}
