main{
  width:100dvw;
  height:94dvh;
  
}

main .introduction{
  height:94dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction h1{
  font-size: 5rem;
  margin-bottom: 10px;
}

.introduction h2{
  font-size: 2.5rem;
  margin-top: 10px;
}

.introduction h2 .text-red{
  color:var(--red-font);
}

