main {
  width: 100%;
  position: relative;
  /* height: 100dvh; just now  */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}

main .container {
  position: relative;
  width: 70%;
  height: 80dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--bar-color);
  border-radius: 2rem;
  /* padding: 0px 20px 0px 20px; */
  overflow-x: hidden;
}

main .container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--container-color);
  filter: blur(1000px);
}

main::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: var(--blur-bg-color);
  /* background-image: linear-gradient(to bottom left, var(--blur-bg-color) ); */
  filter: blur(1000px);
  z-index: -1;
}



main section {
  position: relative;
  width: 100%;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section p {
  color: var(--font-color);
  text-align: center;
}

main section p .text-red {
  color: var(--red-font);
}

main section p:nth-child(1) {
  font-size: calc(var(--h1));
}

main section p:nth-child(2) {
  font-size: calc(var(--h2));
}

@media screen and (width < 550px) {
  main {
    padding: 5rem 0 2rem 0;
  }

  main .container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 100%;
  }

  main section {
    padding-bottom: 10rem;
    gap: 2rem;

  }

  main section p:nth-child(1) {
    font-size: calc(var(--h1));
  }

  main section p:nth-child(2) {
    font-size: calc(var(--h2));
  }
}