.project-section {
  width: 100%;
  margin: 10rem 0;
}

.project-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  gap: 2rem;
}

.project-card {
  background-color: var(--card-bg-color);
  backdrop-filter: blur(100px);
  border: 1px solid var(--thin-border-color);
  padding: 0.6rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 0 20px var(--box-shadow-color), 0 0 10px var(--box-shadow-color),
    0 0 30px var(--box-shadow-color);
}

.project-preview{
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-preview img{
  object-fit: cover;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  padding: 2rem 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.project-card .project-info h3 {
  margin-bottom: 2rem;
  padding: 0 0 0 2rem;
}

.project-card .project-info p {
  padding: 0 1rem 0 2rem;
}

.project-card .project-info a {
  margin-top: auto;
  text-align: center;
  width: 80%;
  padding: 2rem;
  background-color: red;
  border-radius: 0 2rem 2rem 0;
  color: var(--font-color);
}

.project-card .project-info button a {
  color: var(--font-color);
  transition: text-decoration 0.2s ease-out;
}

.project-card .project-info button a:hover {
  text-decoration: underline;
}

@media screen and (width < 960px) {
  .project-card {
    flex-direction: column;
  }

  .project-info {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    /* border-left:none; */
  }
}
