    :root {
      --bg-color: #062925;
      --card-color: #044A42;
      --icon-color: #002522;
      --bar-color: #062925;
      --font-color: #B8E1DD;
      --box-shadow-color: #3A9188;
      --border-color: #B8E1DD;
    }

    * {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }

    body {
      width: 100%;
      color: var(--font-color);
      background-color: var(--bg-color);
    }

    main {
      width: 100%;
      height: 100dvh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile-card {
      position: relative;
      width: 400px;
      height: 500px;
      background-color: var(--card-color);
      border-radius: 1rem;
      box-shadow: 0 0 1.5rem #3A9188;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 0 2rem 0;
      z-index: 1;

    }

    .bg-bar {
      width: 100%;
      padding: 4rem 0;
      background-color: var(--bar-color);
      margin-bottom: auto;
      border-radius: 1rem;
      position: absolute;
      top: 2rem;
      z-index: -1;

    }

    .img-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }

    .profile-img {
      width: 10rem;
      border-radius: 10rem;
      border: 0.2rem solid var(--border-color);
    }

    .icons-div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .icons-div a {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      transition: opacity 0.2s ease-out;
    }

    .icons-div a::before {
      content: attr(data-label);
      text-align: center;
      position: absolute;
      padding: 0;
      border-radius: 0.2rem;
      background-color: var(--box-shadow-color);
      color: var(--font-color);
      transform: rotate(-90deg);
      opacity: 0;
      transition: all 0.25s ease-out;
    }

    .icons-div a::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      transform: rotate(-90deg);
      border-left: 0.4rem solid transparent;
      border-right: 0.4rem solid transparent;
      border-top: 1rem solid var(--box-shadow-color);
      opacity: 0;
      transition: all 0.25s ease-out;
    }

    .icons-div a:hover::before {
      bottom: 3rem;
      transform: rotate(0);
      opacity: 1;
      padding: 0.2rem;
    }

    .icons-div a:hover::after {
      bottom: 2rem;
      opacity: 1;
      transform: rotate(0);
    }

    .icons-div i {
      font-size: 2rem;
      color: var(--icon-color);
    }