:root {
  --dark-bg: #111111;
  --bg-color: #333333;
  --blur-bg-color: rgba(255, 255, 255, 0);
  --card-bg-color: #00000005;
  --container-color: #ffffff15;
  --font-color: #f2f2f2;
  --hovered-font-color: #f2f2f2;
  --active-font-color: #f2f2f2;
  --red-font: crimson;
  --thin-border-color: rgba(255, 255, 255, 0.15);
  --bar-color: #333333;
  --box-shadow-color: rgba(150, 150, 150, 0.01);
  --text-shadow-color: black;
  --icon-color: #333333;
  --button-color: #5f7470;
  --hovered-button-color: #73877b;
  --active-button-color: #839788;
  --footer-bg-color: rgb(20, 20, 20);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  background-color: var(--dark-bg);
  color: var(--font-color);
  text-shadow: 1px 1px 0px var(--text-shadow-color);
  font-size: calc(var(--p));
  /* padding: 0 25vw; */
  padding: 0 30vw;
}

header {
  width: 100%;
  align-self: flex-start;
  position: sticky;
  z-index: 100;
  top: 0;
}

nav {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--blur-bg-color);
  /* background-color:rgba(150, 150, 150, 0.35); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0 0 1rem 1rem;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

ul .kr {
  margin-right: auto;
}

ul .kr a {
  color: var(--red-font);
  font-size: clamp(1rem, 1.5vw, 2rem);
  position: relative;
}

nav ul .li-item a {
  color: var(--font-color);
  font-size: clamp(0.8rem, 0.85vw, 1rem);
  position: relative;
}

nav ul .li-item a::before {
  content: "";
  background-color: var(--red-font);
  position: absolute;
  bottom: 0;
  left: -0.2rem;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease-out;
}

nav ul .li-item a:hover::before {
  width: 105%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.title {
  margin: 2rem 0 5rem;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  gap: 2rem;
}

.project-card {
  background-color: var(--card-bg-color);
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.6rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 0 20px var(--box-shadow-color), 0 0 10px var(--box-shadow-color),
    0 0 30px var(--box-shadow-color);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.5rem;
  padding: 2rem;
}

.project-info h3 {
  margin-right: auto;
  margin-bottom: 2rem;
}

.project-info a {
  margin-top: auto;
  background-color: var(--button-color);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  color: var(--font-color);
  transition: color 0.3s ease-out, background-color 0.2s ease-out;
}

.project-info a:hover {
  background-color: var(--hovered-button-color);
  color: var(--hovered-font-color);
}

.project-info a:active {
  background-color: var(--active-button-color);
  color: var(--active-font-color);
}

.project-preview img {
  border-radius: 0.8rem 0 0 0.8rem;
}

@media screen and (width < 1200px) {
  body {
    padding: 0 22vw;
  }
}

@media screen and (width < 1100px) {
  body {
    padding: 0 20vw;
  }
}
@media screen and (width < 1000px) {
  body {
    padding: 0 18vw;
  }
}
@media screen and (width < 900px) {
  body {
    padding: 0 16vw;
  }
}
@media screen and (width < 960px) {
  .project-card {
    flex-direction: column;
  }
}
@media screen and (width < 800px) {
  body {
    padding: 0 14vw;
  }
}
@media screen and (width < 700px) {
  body {
    padding: 0 12vw;
  }
}
@media (width < 600px) {
  body {
    padding: 0 10vw;
  }
}
@media (width < 500px) {
  body {
    padding: 0 7vw;
  }
}

@media screen and (width < 450px) {
  ul {
    gap: 1rem;
  }
}

@media (width < 400px) {
  body {
    padding: 0 4vw;
  }
}
