.project-section{
  width:100%;
  height:100dvh;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.project-section h2{
  margin-bottom:5rem;
  font-size: 2rem;
}

.project-grid{
  max-width:80%;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(min(450px,100%),1fr));
  gap:2rem;
}

.project-card{
  padding:3rem 5rem;
  background-color:var(--card-bg-color);
  border-radius:1rem;
  box-shadow:0 0 20px transparent ;
  transition:box-shadow 0.2s ease-in,transform 0.2s ease-in;

}

.project-card:hover{
  box-shadow:0 0 20px var(--box-shadow-color),0 0 10px var(--box-shadow-color),0 0 30px var(--box-shadow-color)   ;
  transform: translateY(-10px);
}