.project-section {
  width: 100%;
  margin: 10rem 0;
}

.project-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  gap: 2rem;
}

.project-card {
  background-color: var(--glass-effect-color);
  backdrop-filter: blur(100px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 20px var(--box-shadow-color), 0 0 10px var(--box-shadow-color),
    0 0 30px var(--box-shadow-color);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  border-top: 1px solid var(--bar-color);
  margin: 2rem;
  padding: 2rem 0 0 0;
}

.project-card .project-info h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.project-card .project-info p {
  padding: 0 1rem 1rem 0;
}

.project-card .project-info a {
  width: 100%;
  color: var(--font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
.project-card .project-info a i {
  color: var(--button-color);
  font-size: 2rem;
}

@media screen and (width < 960px) {
}
