:root {
  --bg-color: #111111;
  --bg-accent-up: #ffffff15;
  --bg-accent-down: #ffffff15;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --button-color: #333333;
  --font-color: #f2f2f2;
  --bar-color: rgba(255, 255, 255, 0.15);
  --red-accent: crimson;
  --red-accent-low-opacity: rgba(220, 20, 60, 0.15);
  --box-shadow-color: rgba(150, 150, 150, 0.01);

  --font-size-1: 3rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1rem;
  --font-size-5: 0.8rem;

  --h1: 5rem;
  --h2: 2.5rem;
  --h3: 1.5rem;
  --p: 1rem;
}

.light {
  --bg-color: #eeeeee;
  --bg-accent-up: #ff08d620;
  --bg-accent-down: #0055ff25;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --button-color: #005238;
  --font-color: #0e0e0e;
  --bar-color: rgba(0, 119, 255, 0.25);
  --red-accent: crimson;
  --red-accent-low-opacity: rgba(220, 20, 60, 0.15);
  --box-shadow-color: rgba(0, 0, 0, 0.04);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  background-color: var(--bg-color);
  color: var(--font-color);
  text-shadow: 1px 1px 0px var(--text-shadow-color);
  font-size: calc(var(--p));
}

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
}

nav {
  width: 100%;
  max-width: 50vw;
  margin: auto;
  padding: 1rem;
  background-color: var(--glass-effect-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--bar-color);
  border-radius: 0 0 1rem 1rem;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

ul .kr {
  margin-right: auto;
}

ul .kr a {
  color: var(--red-accent);
  font-size: clamp(1rem, 1.5vw, 2rem);
}

nav ul .li-item a {
  color: var(--font-color);
  font-size: clamp(0.8rem, 0.85vw, 1rem);
  position: relative;
}

nav ul .li-item a::before {
  content: "";
  background-color: var(--red-accent);
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease-out;
}

nav ul .li-item a:hover::before {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 25vw;
}

.title {
  margin: 2rem 0 5rem;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  gap: 2rem;
}

.project-card {
  background-color: var(--glass-effect-color-color);
  backdrop-filter: blur(100px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 0.5rem var(--box-shadow-color),
    0 0 1rem var(--box-shadow-color), 0 0 2rem var(--box-shadow-color);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  border-top: 1px solid var(--bar-color);
  margin: 2rem;
  padding: 2rem 0 0 0;
}

.project-card .project-info h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.project-card .project-info p {
  padding: 0 1rem 1rem 0;
}

.project-card .project-info a {
  width: 100%;
  color: var(--font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
.project-card .project-info a i {
  color: var(--button-color);
  font-size: 2rem;
  transition: color 0.2s ease-in;
}

.project-card .project-info a i:hover {
  color: var(--red-accent);
}

@media screen and (width < 1200px) {
  body {
    padding: 0 22vw;
  }
}

@media screen and (width < 1100px) {
  body {
    padding: 0 20vw;
  }
}
@media screen and (width < 1000px) {
  body {
    padding: 0 18vw;
  }
}
@media screen and (width < 900px) {
  body {
    padding: 0 16vw;
  }
}
@media screen and (width < 960px) {
  .project-card {
    flex-direction: column;
  }
}
@media screen and (width < 800px) {
  body {
    padding: 0 14vw;
  }
}
@media screen and (width < 700px) {
  body {
    padding: 0 12vw;
  }
}
@media (width < 600px) {
  body {
    padding: 0 10vw;
  }
}
@media (width < 500px) {
  body {
    padding: 0 7vw;
  }
}

@media screen and (width < 450px) {
  ul {
    gap: 1rem;
  }
}

@media (width < 400px) {
  body {
    padding: 0 4vw;
  }
}
