

    .experience-section{
      width:100%;
      text-align: center;
      display:flex;
      align-items: center;
      justify-content: center;
      position:absolute;
      top:1000px;
    }

    .experience-section .skills{
      width:100%;
      display: flex;
      justify-content: center;

    }


    .experience-section .skills .skills-text h1{
      color:var(--font);
      font-size:50px;

    }

    .experience-section .skills .skills-line{
      width:60%;
      height:5px;
      background-color: black;
      position:absolute;
      top:150px;
      display:flex;
      justify-content: space-around;

    }

   .experience-section .skills .skills-line .html-line{
    height:30px;
    width:2px;
    background-color: black;

   } 

   .experience-section .skills .skills-line .css-line{
    height:30px;
    width:2px;
    background-color: black;

   } 

    .experience-section .skills .skills-line .js-line{
    height:30px;
    width:2px;
    background-color: black;

   } 
   
   .html{
    width:200px;
    height:300px;
    border:2px solid var(--font);
    margin-top:30px;
    position:relative;
    left:-100px;

   }

   .html-experience{
    font-size:14px;
   }

    .css{
    width:200px;
    height:300px;
    border:2px solid var(--font);
    margin-top:30px;
    position:relative;
    left:-100px;

   }

    .css-experience{
    font-size:14px;
   }

    .js{
    width:200px;
    height:300px;
    border:2px solid var(--font);
    margin-top:30px;
    position:relative;
    left:-100px;

   }

    .js-experience{
    font-size:14px;
   }


    .experience-section .skills img{
      width:25px;
      height:25px;
      background-color: transparent;
    }
    


   .experience-section .skills a{
    text-decoration: none;
    color:var(--font);
    display: block;
    margin-top:10px;
    transition:all ease-in-out 0.15s;
   }

   .experience-section .skills a:hover{
    text-decoration: underline;
   }

   .experience-section .skills button{
    background-color: transparent;
    border:none;
   }

