.contact-section {
  width: 100%;
  margin-bottom: 5rem;
}

.contact-section .contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .leave-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: relative;
}

.contact-container .leave-message label {
  margin-bottom: 2rem;
  font-size: clamp(1.2rem, 1.2vw, 2rem);
  margin-right: auto;
}

.contact-container .leave-message textarea {
  color: var(--font-color);
  min-width: 100%;
  min-height: 150px;
  font-size: calc(var(--p));
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--bar-color);
  padding: 1rem;
  margin-bottom: 1rem;
  resize: vertical;
}

.contact-container .leave-message textarea:focus {
  color: var(--font-color);
  font-size: calc(var(--p));
  background-color: transparent;
  box-shadow: 0 0 20px var(--box-shadow-color);
}

.contact-container .leave-message button {
  font-size: calc(var(--font-size-4));
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--font-color);
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  transition: color 0.3s ease-out, background-color 0.2s ease-out;
}

.contact-container .leave-message button:hover {
  cursor: pointer;
  background-color: var(--hovered-button-color);
  color: var(--hovered-font-color);
}

.contact-container .leave-message button:active {
  cursor: pointer;
  background-color: var(--active-button-color);
  color: var(--active-font-color);
}

@media screen and (width < 900px) {
}

@media screen and (width < 550px) {
}
